In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('budget_data.csv')

In [3]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [4]:
# The total number of months included in the dataset 
len(df.index)

86

In [5]:
# The net total amount of Profit/Losses over the entire period 
Total_profit_loss = df['Profit/Losses'].sum()
print('$',Total_profit_loss)

$ 38382578

In [6]:
# The average of the changes in Profit/Losses over the entire period

df['percentage change'] = 0

In [7]:
df

        Date  Profit/Losses  percentage change
0   Jan-2010         867884                  0
1   Feb-2010         984655                  0
2   Mar-2010         322013                  0
3   Apr-2010         -69417                  0
4   May-2010         310503                  0
..       ...            ...                ...
81  Oct-2016         102685                  0
82  Nov-2016         795914                  0
83  Dec-2016          60988                  0
84  Jan-2017         138230                  0
85  Feb-2017         671099                  0

[86 rows x 3 columns]

In [9]:
# Profit/Losses percentage change = List1 - list2 

# List 1 call ProfitandLosses for Profit/Losses
ProfitandLosses = df['Profit/Losses'].values.tolist()
ProfitandLosses.append(0)
print(ProfitandLosses)
type(ProfitandLosses)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099, 0]

list

In [10]:
# List 2 call NewProfitandLosses of Profit/Losses 

NewProfitandLosses = df['Profit/Losses'].values.tolist()
NewProfitandLosses.insert(0,int(0))
print(NewProfitandLosses)
type(NewProfitandLosses)

[0, 867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

list

In [11]:
# Profit/Losses percentage change = List1 ProfitandLosses - list2 NewProfitandLosses 

ProfitandLosses
NewProfitandLosses 
difference = [x1 - x2 for (x1,x2) in zip(ProfitandLosses, NewProfitandLosses)]
print(difference)

[867884, 116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869, -671099]

In [12]:
# we should delete the first month percentage change (zeor change ), and the extra percentage change in the last period  
del difference[0]
del difference[-1]
percentage_change = sum(difference)
percentage_change

-196785

In [13]:
# average percentage change over the entire period 

Percentage_change = percentage_change / (len(df.index) -1 )
print("{:12.2f}".format(Percentage_change))

    -2315.12

In [14]:
# adding percentage change in the table
difference.insert(0,int(0))
df['percentage change'] = difference
df

        Date  Profit/Losses  percentage change
0   Jan-2010         867884                  0
1   Feb-2010         984655             116771
2   Mar-2010         322013            -662642
3   Apr-2010         -69417            -391430
4   May-2010         310503             379920
..       ...            ...                ...
81  Oct-2016         102685            -665765
82  Nov-2016         795914             693229
83  Dec-2016          60988            -734926
84  Jan-2017         138230              77242
85  Feb-2017         671099             532869

[86 rows x 3 columns]

In [15]:
# convert two lists into a dictionary 
Date = df['Date']
difference
a_dict = dict(zip(Date, difference))
print(a_dict)

{'Jan-2010': 0, 'Feb-2010': 116771, 'Mar-2010': -662642, 'Apr-2010': -391430, 'May-2010': 379920, 'Jun-2010': 212354, 'Jul-2010': 510239, 'Aug-2010': -428211, 'Sep-2010': -821271, 'Oct-2010': 693918, 'Nov-2010': 416278, 'Dec-2010': -974163, 'Jan-2011': 860159, 'Feb-2011': -1115009, 'Mar-2011': 1033048, 'Apr-2011': 95318, 'May-2011': -308093, 'Jun-2011': 99052, 'Jul-2011': -521393, 'Aug-2011': 605450, 'Sep-2011': 231727, 'Oct-2011': -65187, 'Nov-2011': -702716, 'Dec-2011': 177975, 'Jan-2012': -1065544, 'Feb-2012': 1926159, 'Mar-2012': -917805, 'Apr-2012': 898730, 'May-2012': -334262, 'Jun-2012': -246499, 'Jul-2012': -64055, 'Aug-2012': -1529236, 'Sep-2012': 1497596, 'Oct-2012': 304914, 'Nov-2012': -635801, 'Dec-2012': 398319, 'Jan-2013': -183161, 'Feb-2013': -37864, 'Mar-2013': -253689, 'Apr-2013': 403655, 'May-2013': 94168, 'Jun-2013': 306877, 'Jul-2013': -83000, 'Aug-2013': 210462, 'Sep-2013': -2196167, 'Oct-2013': 1465222, 'Nov-2013': -956983, 'Dec-2013': 1838447, 'Jan-2014': -468003, 'Feb-2014': -64602, 'Mar-2014': 206242, 'Apr-2014': -242155, 'May-2014': -449079, 'Jun-2014': 315198, 'Jul-2014': 241099, 'Aug-2014': 111540, 'Sep-2014': 365942, 'Oct-2014': -219310, 'Nov-2014': -368665, 'Dec-2014': 409837, 'Jan-2015': 151210, 'Feb-2015': -110244, 'Mar-2015': -341938, 'Apr-2015': -1212159, 'May-2015': 683246, 'Jun-2015': -70825, 'Jul-2015': 335594, 'Aug-2015': 417334, 'Sep-2015': -272194, 'Oct-2015': -236462, 'Nov-2015': 657432, 'Dec-2015': -211262, 'Jan-2016': -128237, 'Feb-2016': -1750387, 'Mar-2016': 925441, 'Apr-2016': 932089, 'May-2016': -311434, 'Jun-2016': 267252, 'Jul-2016': -1876758, 'Aug-2016': 1733696, 'Sep-2016': 198551, 'Oct-2016': -665765, 'Nov-2016': 693229, 'Dec-2016': -734926, 'Jan-2017': 77242, 'Feb-2017': 532869}

In [16]:
# Q4: The greatest increase in profits (date and amount) over the entire period

a_dict

key_max = max(a_dict.keys(), key=(lambda k: a_dict[k])) 
max(difference)
maxprofit = key_max+ str(max(difference))
print(key_max, max(difference))

Feb-2012 1926159

In [17]:
# Q5: The greatest decrease in profits (date and amount) over the entire period.

a_dict
key_min = min(a_dict.keys(), key=(lambda k: a_dict[k])) 
min(difference)
print(key_min ,  min(difference))

Sep-2013 -2196167

In [18]:
# Financial Analysis

print('Total Months:' + str(len(df.index)))
print('Total Months: $' + str(Total_profit_loss) )
print('Average Change:$' + "{:12.2f}".format(Percentage_change))
print('Greatest Increase in Profits:' + key_max,'$' , max(difference))
print('Greatest Decrease in Profits:' + key_min , '$' ,min(difference))

Total Months:86
Total Months: $38382578
Average Change:$    -2315.12
Greatest Increase in Profits:Feb-2012 $ 1926159
Greatest Decrease in Profits:Sep-2013 $ -2196167